.main {
    width: inherit;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.header {
    display: flex;
    height: 53px;
    align-items: center;
}

.headerTitle {
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
}
.postUserSection {
    display: inline-block;
    margin-right: 12px;
    width: 40px;
}
.modal {
    background: #ffffff;
    position: relative;
    top: 5%;
    max-width: 80vw;
    min-width: 650px;
    max-height: 600px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.modalBody {
    font-size: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
}
.inputDiv > h4 {
    /*padding-top: 10px;*/
    display: inline-block;
    font-size: 20px;
}

@media screen and (max-width: 912px){

   
}
@media screen and (max-width: 768px){
    .modal {
        min-width: 500px;
    }
}
@media screen and (max-width: 578px){
    .modal {
        min-width: 200px;
        max-height: 700px;
    }
}

@media screen and (max-width: 280px){
    .modalBody {
        font-size: 60%;
    }
}
@media all and (min-width: 1400px) {
    
    .modal {
        background: #ffffff;
        position: relative;
        top: 5%;
        max-width: 80vw;
        min-width: 650px;
        max-height: 700px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        scroll-behavior: inherit;
    }
    
    .modalBody {
        font-size: 100%;
    }
   

}



.closeButton {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    left: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.closeButton:hover {
    background-color: rgba(15,20,25, 0.1);
}





.postUserImage {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.postUserImage img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.inputSection{
    flex: 1;
    flex-direction: row;
}


.inputDiv {
    flex: inherit;
    margin-bottom: 10px;

}

.inputSection > span{
    /*flex: inherit;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    border-bottom-color: white;
    border-bottom-width: 1px;
}
.inputSection > span > div{
    flex: inherit;
    flex-direction: row;
    align-items: center;
}
.inputSection > span > div > input{
    width: 55px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 10px;
    height: 40px;
}
@media screen and (max-width: 768px){
    .inputSection > span > div > input{
        width: 5%;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 5px;
    }
    .inputSection > span > div > select{
        width: 20%
    }
}
@media screen and (max-width: 578px){
   
}
@media screen and (max-width: 420px){
 
}

.textArea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 10px;
    height: 40px;
    padding-top: 10px;
}
.input::placeholder {
    font-family: 'Malgun Gothic', sans-serif;
}

.modalFooter {
    padding: 0 16px;
}

.modalDivider {
    width: 100%;
    border-bottom: 1px solid rgb(239, 243, 244);
}
.footerButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footerButtonLeft {
    flex: 1;
}

.uploadButton {
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
    border-radius: 17px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(29, 155, 240, 0.01);

    opacity: 0.6;

    pointer-events: none;

    transition: background-color 0.2s;
}

.uploadButton:hover {
    background-color: rgb(29, 155, 240, 0.1);
}
.uploadButton svg {
    fill: #142d4c;
}

.actionButton {
    cursor: pointer;
    width: 94px;
    height: 36px;
    border-radius: 18px;
    border: none;
    margin: 8px 0;
    background-color: #142d4c;
    color: white;
    font-size: 17px;
}
.actionButton:disabled {
    opacity: 0.5;
}





