.iconWrapper {
    position: relative;
    display: inline-flex;
}

.badge {
    position: absolute;
    top: -5px;
    right: -6px;
    background-color: #1d9bf0;
    color: white;
    border-radius: 9999px;
    min-width: 18px;
    height: 18px;
    padding: 0 4px;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.navPill {
    display: inline-flex;
    height: 50px;
    padding: 12px;
    align-items: center;
}
.navPill:hover {
    background-color: rgba(15,20,25, 0.1);
    border-radius: 29px;
}

.navPill > div {
    display: none;
}

@media all and (min-width: 1300px) {
    .navPill > div {
        margin-left: 20px;
        margin-right: 16px;
        font-size: 20px;
        display: inline-block;
    }
}

@media screen and (max-width: 912px) {
    .navPill {
        display: flex;
        height: 50px;
        padding: 6px;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 280px){
    .navPill {
        display: inline-flex;
        height: 50px;
        width: 40px;
        padding: 12px;
        align-items: center;
    }
}

