.main {
    width: 600px;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.postContainer {
    margin-top: 100px; /* Adjust the value as needed */
}
@media screen and (max-width: 912px){
    .main {
        width: inherit;
        border-color: rgb(239, 243, 244);
        border-right-width: 1px;
        border-left-width: 1px;
        border-left-style: solid;
        border-right-style: solid;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

}
.observer{
    background-color: red;
    height: 200px;
}
/*@media screen and (max-width: 768px){*/
/*    .main {*/
/*        width: inherit;*/
/*        border-color: rgb(239, 243, 244);*/
/*        border-right-width: 1px;*/
/*        border-left-width: 1px;*/
/*        border-left-style: solid;*/
/*        border-right-style: solid;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: stretch;*/
/*    }*/
/*    .postContainer {*/
/*        margin-top: 150px; !* Adjust the value as needed *!*/
/*    }*/
/*}*/
/*@media screen and (max-width: 578px){*/
/*    .main {*/
/*        width: inherit;*/
/*        border-color: rgb(239, 243, 244);*/
/*        border-right-width: 1px;*/
/*        border-left-width: 1px;*/
/*        border-left-style: solid;*/
/*        border-right-style: solid;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: stretch;*/
/*    }*/
/*    .postContainer {*/
/*        margin-top: 150px; !* Adjust the value as needed *!*/
/*    }*/
/*}*/
/*@media screen and (max-width: 280px){*/
/*    .main {*/
/*        width: inherit;*/
/*        border-color: rgb(239, 243, 244);*/
/*        border-right-width: 1px;*/
/*        border-left-width: 1px;*/
/*        border-left-style: solid;*/
/*        border-right-style: solid;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: stretch;*/
/*    }*/
/*    .postContainer {*/
/*        margin-top: 150px; !* Adjust the value as needed *!*/
/*    }*/
/*}*/


