.main {
    width: inherit;
    border-color: rgb(239, 243, 244);
    border-right-width: 1px;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}

.formZone {
    padding-left: 16px;
    width: 566px;
    margin-bottom: 60px;
}

.trendBg {
    margin-top: 60px;
    background-color: rgb(247, 249, 249);
}
.explorePost {
    border-top: 1px solid rgb(239, 243, 244);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
}
.explorePost h3 {
    padding: 12px 16px;
}

@media screen and (max-width: 912px){
    .formZone {
        padding: 3px 3px;
        width: 594px;
    }
    .explorePost h3 {
        padding: 12px 16px;
        font-size: 15px;
        text-align: center;
    }
}
@media screen and (max-width: 768px){
    .formZone {
        width: 394px;
    }
}
@media screen and (max-width: 578px){
    .formZone {
        width: 294px;
    }
}
@media screen and (max-width: 280px){
    .formZone {
        width: 264px;
    }
}