.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.titleSection{
    flex: 0.7;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #9fd3c7; 

}
.titleSection h2{
    color: aliceblue;
    text-align: center;
    font-size: 50px;  
}
.bodySection{
    flex: 1;
}

.bodySection {
    padding: 30px 30px;
}

.aboutUsBody h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.aboutUsBody h5 {
    font-size: 20px;
    margin-bottom: 10px;
}
.aboutUsBodyPart{
    line-height: 1.5;
    margin-bottom: 10px;
}
.aboutUsBodyHighlightedSection{
    text-align: center;
    border-radius: 5px;
    background-color:#e7eaf6 ;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.tutorialSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.tutorialLink {
    display: flex;
    padding: 4px 70px;
    padding-top: 5px;
    border: 1px solid #9fd3c7;
    height: 40px;
    width: 400px;
    margin: 8px 8px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.tutorialLink:hover {
    
    background-color: #e7eaf6;
    cursor: pointer;
}

