
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.titleSection{
    flex: 0.7;
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    background-color: #9fd3c7;
    position: fixed;
    top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.titleSection h2{
    color: aliceblue;
    text-align: center;
    font-size: 50px;  
}


.bodySection {
    margin-top: 250px;
    padding: 30px 30px;
}

.aboutUsBody h4 {
    font-size: 30px;
    margin-bottom: 20px;
}

.aboutUsBody h5 {
    font-size: 20px;
    margin-bottom: 10px;
}
.aboutUsBodyPart{
    line-height: 2.0;
    margin-bottom: 10px;
}
.aboutUsBodyHighlightedSection{
    text-align: center;
    line-height: 2.0;
    border-radius: 5px;
    background-color:#e7eaf6 ;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.tutorialSection{
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tutorialLink {
    display: flex;
    padding: 4px 70px;
    padding-top: 5px;
    border: 1px solid #9fd3c7;
    height: 40px;
    width: 400px;
    margin: 8px 8px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}
.tutorialLink:hover {
    
    background-color: #e7eaf6;
    cursor: pointer;
}
@media screen and (min-width: 1024px){
    .main{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .titleSection{
        position: relative;
        height: 100%;
        flex: 0.7;
        align-items: center;
        justify-content: center;
        background-color: #9fd3c7; 
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    
    }
    .bodySection{
        font-size: 82%;
        margin-top: 20px;
        flex: 1;
        width: 90%;
    }
    
}


@media screen and (max-width: 912px){
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .titleSection{
        width: 100%;
    }
    .bodySection{
        margin-top: 70px;
        width: 80%;
    }
}
@media screen and (max-width: 850px){
    .buttons{
        display: flex;
        flex-direction: column;
    }
    .tutorialLink{
        padding: 0%;
        width: 90%;
        font-size: 90%;
    }
}
@media screen and (max-width: 578px){
    .tutorialLink{

        font-size: 80%;
    }
    .aboutUsBody{
        font-size: 80%;
    }
    .aboutUsBody h4 {
        font-size: 20px;
    }
    .aboutUsBody h5 {
        font-size: 15px;
    }
}
@media screen and (max-width: 460px){
    .buttonText {
        display: none;
    }

    .aboutUsBody{
        font-size: 70%;
    }
    .aboutUsBody h4 {
        font-size: 15px;
    }
    .aboutUsBody h5 {
        font-size: 10px;
    }
}


@media screen and (max-width: 280px){

    .aboutUsBody{
        font-size: 60%;
    }
    .aboutUsBody h4 {
        font-size: 10px;
    }
    .aboutUsBody h5 {
        font-size: 7px;
    }
}
@media screen and (max-width: 578px) and (max-height:720px){

}
@media screen and (max-width: 360px) and (max-height:740px){

}
@media screen and (max-width: 1024px) and (max-height:600px){
}


