.amadContent{
    flex-direction: column;
    padding-left: 10px;
    padding-bottom: 20px;
}
.amadContent > div{
    padding-top: 20px;
}
@media screen and (max-width: 912px){
    .amadContent{
        flex-direction: column;
        justify-content: center;
        padding-left: 5px;
    }
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 578px){

}
@media screen and (max-width: 280px){

}